USE [GRDB]
GO
/****** Object:  StoredProcedure [Kitchen].[spGET_ORDER_PREPARING]    Script Date: 12/4/2024 2:12:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Russel Vasquez
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [Kitchen].[spGET_ORDER_PREPARING] 
@SALESCODE nvarchar(10)
AS
BEGIN
	
	SELECT *
	FROM [Kitchen].Kitchen_Orders_TF A
	INNER JOIN  Trans.Sales_Line B
	ON A.SalesCode = B.SalesCode
	INNER JOIN Menu.Dish_Hdr C
	ON B.DishCode = C.DishCode
	WHERE A.KitchenStatusID = 2 AND A.SalesCode = @SALESCODE

END




GO
