USE [GRDB]
GO
/****** Object:  StoredProcedure [Menu].[spGET_SINGLE_ITEM_DATA]    Script Date: 12/4/2024 2:12:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Karl Unabia
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [Menu].[spGET_SINGLE_ITEM_DATA] 
	-- Add the parameters for the stored procedure here
	@ITEMCODE nvarchar(20)
AS
BEGIN
	
	SELECT ItemCode, Name, Price, UM
	FROM [Menu].[Item_Data]
	WHERE ItemCode = @ITEMCODE

END




GO
