USE [GRDB]
GO
/****** Object:  UserDefinedTableType [Menu].[DISH_LINE]    Script Date: 12/4/2024 2:12:31 PM ******/
CREATE TYPE [Menu].[DISH_LINE] AS TABLE(
	[DishCode] [nvarchar](15) NOT NULL,
	[ItemCode] [nvarchar](20) NOT NULL,
	[ItemQuantity] [real] NULL,
	PRIMARY KEY CLUSTERED 
(
	[ItemCode] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
GO
