USE [GRDB]
GO
/****** Object:  StoredProcedure [Menu].[spGET_DISH_WITH_ITEM]    Script Date: 12/4/2024 2:12:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Karl Unabia
-- Create date: 
-- Description:	Get Dishes with specified Item
-- =============================================
CREATE PROCEDURE [Menu].[spGET_DISH_WITH_ITEM] 
	-- Add the parameters for the stored procedure here
	@ITEMCODE nvarchar(15) 

AS
BEGIN
	
	SELECT H.*
	FROM Menu.Dish_Line L
	INNER JOIN Menu.Dish_Hdr H
	ON L.DishCode = H.DishCode
	WHERE L.ItemCode = @ITEMCODE

END


GO
