USE [GRDB]
GO
/****** Object:  StoredProcedure [Trans].[spGET_LIST_SALES]    Script Date: 12/4/2024 2:12:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Karl Unabia
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [Trans].[spGET_LIST_SALES] 
	
AS
BEGIN
	
	SELECT H.*
	FROM Trans.Sales_Hdr H


END




GO
