USE [GRDB]
GO
/****** Object:  UserDefinedTableType [Trans].[SALES_LINE]    Script Date: 12/4/2024 2:12:31 PM ******/
CREATE TYPE [Trans].[SALES_LINE] AS TABLE(
	[SalesCode] [nvarchar](15) NULL,
	[DishCode] [nvarchar](15) NULL,
	[Price] [decimal](18, 2) NULL,
	[Quantity] [int] NULL,
	[Discount] [real] NULL
)
GO
