USE [GRDB]
GO
/****** Object:  StoredProcedure [Trans].[spGET_PAID_SALES]    Script Date: 12/4/2024 2:12:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Karl Unabia
-- Create date: 
-- Description:	Get the Paid Sales based on given time frame
-- =============================================
CREATE PROCEDURE [Trans].[spGET_PAID_SALES] 
	-- Add the parameters for the stored procedure here
	@STARTDATE datetime, 
	@ENDDATE datetime
AS
BEGIN
	
	SELECT D.Name, SUM(L.Quantity) AS Quantity, L.Price
	FROM Trans.Sales_Hdr H
	INNER JOIN Trans.Sales_Line L
	ON H.SalesCode = L.SalesCode
	INNER JOIN Menu.Dish_Hdr D
	ON L.DishCode = D.DishCode
	WHERE H.Status = 3
	AND H.Date BETWEEN @STARTDATE AND @ENDDATE
	GROUP BY D.Name, L.Price

END


GO
