USE [GRDB]
GO
/****** Object:  UserDefinedTableType [Trans].[PO_LINE]    Script Date: 12/4/2024 2:12:31 PM ******/
CREATE TYPE [Trans].[PO_LINE] AS TABLE(
	[POCode] [nvarchar](15) NOT NULL,
	[ItemCode] [nvarchar](20) NOT NULL,
	[ItemQuantity] [real] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ReceivedQuantity] [real] NULL,
	[ActualPrice] [decimal](18, 2) NULL
)
GO
