USE [GRDB]
GO
/****** Object:  StoredProcedure [Trans].[spGET_SALES_STATUSES]    Script Date: 12/4/2024 2:12:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Karl Unabia
-- Create date: 
-- Description:	Get the Sales Type RFs
-- =============================================
CREATE PROCEDURE [Trans].[spGET_SALES_STATUSES]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	
	SELECT *
	FROM Trans.Sales_Status_RF

END




GO
